Source: com.github.arshubham.srtnr
Section: x11
Priority: extra
Maintainer: Shubham Arora <shubhamarora@protonmail.com>
Build-Depends: debhelper (>= 9),
        rustc
Standards-Version: 3.9.3

Package: com.github.arshubham.srtnr
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Shorten long Urls
